.navbar {
    font-family: comic sans ms, Helvetica, sans-serif;
    float: left;
    padding-top: 55px;
   
  
}
 .navbar a{
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}
.logo img{
    float: left;
    height: 150px;
    width: 150px;
    
}
.head{
    background-color: black;
    border: 1px solid lightblue;
   
}	



p{
	padding: 50px 35px 15px 90px;
	text-align: justify;
	width: 600px;

}
.left{
	background-color: white;
	height: max-height;
	float: left;
	
}
.right .pic{
	background-color: white;
	height: max-height;
	position: relative;top: 200px; left: -150px;
	float: right;
	
}
.Footer{
		border: 1px solid lightblue;
        top: 100px;
        position: relative;
        font-size: 25px;
        padding: 10px;   
        background-color: black;
        color: white;
        text-align: center;
        clear: both;
}

		/*950px or less*/
			@media screen and (max-width: 950px){
				.head, .left, .right, .Footer{
					width: 100%;
				}
			}

			/*700px or less*/
			@media screen and (max-width: 740px){
				.head, .Footer{
					width: 95%;
				}
				.left, .right, .pic{
					width: 50%;
					position: static;
					left: 0;
					right:0;
				}
				.pic{
					display: none;
				}

			}

			/*480px or less*/
			@media screen and (max-width: 480px){
				body{
					font-size: 15px;
				}
				.left, .right {
					width: 50%;
					min-height:100vh;
					position: static;
					left: 0;
					right: 0;
				}
				.pic{
					display: none;
				}
			}
