
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: gray;
    height: 834px;
    border: 1px solid grey;
}


.navbar {
    font-family: comic sans ms, Helvetica, sans-serif;
    margin-left:100px; 
    padding:145px;
    position: absolute;

      
}

.oi{
    float: right;  
    background-color: black;
    border: 1px solid lightblue;
    width: 100%;



}

.navbar a 
{
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;

}


.footer{
        border: 1px solid lightblue;
        position: relative;  
        font-size: 25px;   
        background-color: black;
        color: white;
        position: relative;
        text-align: center;
                
}

.middle{
    clear: both;
    padding: 115px;
    text-align: center;

}









