

.navbar {
    font-family: comic sans ms, Helvetica, sans-serif;
    float: left;
    
   
  
}
 .navbar a{
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 100px 40px 0px 1px;
    text-decoration: none;


}
.logo img{
    float: left;
    height: 150px;
    width: 150px;

}




.head{
    background-color: black;
    border: 1px solid lightblue;
    width: 100%;
    		
}
.left{
background-color: #EAEDED;
height: 600px;
position: relative; top: 0px; left: 250px;
padding: 20px;
}
.right{
background-color: #EAEDED;
height: 600px;
position: relative; top: 0px; right:-250px;	 				
}
.Footer{
		border: 1px solid lightblue;
        top: 30px;
        position: relative;
        font-size: 25px;
        padding: 10px;   
        background-color: black;
        color: white;
        text-align: center;
        clear: both;
}

	
		/*950px or less*/
			@media screen and (max-width: 950px){
				.head, .left, .right, .Footer{
					width: 100%;
				}
			}

			/*700px or less*/
			@media screen and (max-width: 740px){
				.head, .Footer{
					width: 95%;
				}
				.left, .right, .pic{
					width: 50%;
					position: static;
					left: 0;
					right:0;
				}

			}

			/*480px or less*/
			@media screen and (max-width: 480px){
				body{
					font-size: 15px;
				}
				.left, .right {
					width: 50%;
					min-height:100vh;
					position: static;
					left: 0;
					right: 0;
				}
				.pic{
					display: none;
				}
			}
		